<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    <select id="selectUrlCategory" @change="onChangeUrlCategory($event)">
      <option value="">Please Pick a Category</option>
      <option value="static">Static Pages</option>
    </select><br />
    <select id="selectUrl" @change="onChangeUrl($event)" v-model="selectUrl">
      <option v-for="link in linkInSelectedCategory" value="link.value">
        {{link.name}}
      </option>
    </select>
  </div>

  <script src="https://unpkg.com/dc-extensions-sdk/dist/dc-extensions-sdk.umd.js"></script>
  <script>
    new Vue({
      el: "#app",
      data: {
        sdk: null,
        selectUrl: null,
        linkInSelectedCategory: [],
        staticLinks: [
          { name: "Homepage", value: "/" },
          { name: "Basket", value: "/basket" },
          { name: "Coupons", value: "/membership/account/coupons/" },
        ],
      },
      methods: {
        onChangeUrlCategory(event) {
          if (event.target.value === "static") {
            this.linkInSelectedCategory = this.staticLinks;
          } else if (event.target.value === "") {
            this.linkInSelectedCategory = [];
          }
        },
        onChangeUrl(event) {
          this.updateFieldValue(event.target.value)
        },
        async updateFieldValue(value) {
          try {
            await this.sdk.field.setValue({
              link: value,
              lang: { en: 1, tr: 0 },
            });
          } catch (err) {
            console.log(err.message);
          }
        },
        async setCurrentValue() {
          try {
            const savedValue = await this.sdk.field.getValue();
            console.log("Getting data : ", savedValue);
            if (typeof savedValue !== "undefined") {
              this.selectUrl = savedValue.link
            }
          } catch (err) {
            console.log(err);
          }
          this.sdk.frame.startAutoResizer();
        }
      },
      mounted: async () => {
        try {
          this.sdk = await dcExtensionsSdk.init()
        } catch (e) {
          console.log("Failed to connect amplience application", e)
        }
      },
    });
  </script>
</body>

</html>